<link href='https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display:400,900,700' rel='stylesheet' type='text/css'>
head {
}
Body {
	text-align: center;
	background: url("yellow-striped-background-seamless.jpg");
  font-family: 'Playfair Display', serif;
	color: #ffffff;
	}

h1 {
  font-family: 'Showtime', serif;
  font-size: 200px;
  color: #ffffff;
  text-align: center;
}

.question{
	text-align:
	border: 1px solid #000000;
	background-color:#ffffff;
	color:#000000;
	border-radius:30px ;
	border-width: thin;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	width:1000px;
	height: 500px;
	padding: 15px 32px;
}

#optionA {
	background-color:#84cec9;
	color:#ffffff;
	border-radius:30px ;
	padding: 15px 32px;
	text-align: center;
	display: block;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	width:500px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#optionB {
	background-color:#84cec9;
	color:#ffffff;
	border-radius:30px ;
	padding: 15px 32px;
	text-align: center;
	display: block;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	width:500px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#optionC {
	background-color:#84cec9;
	color:#ffffff;
	border-radius:30px ;
	padding: 15px 32px;
	text-align: center;
	display: block;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	width:500px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#optionD {
	background-color:#84cec9;
	color:#ffffff;
	border-radius:30px ;
	padding: 15px 32px;
	text-align: center;
	display: block;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	width:500px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

 {
	background-color:#84cec9;
	color:#ffffff;
	border-radius:30px ;
	padding: 15px 32px;
	text-align: center;
	display: block;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	width:500px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}


.instructions{
	border: 1px solid #000000;
	background-color:#ffffff;
	color:#red;
	border-radius:30px ;
	border-width: thin;
	padding: 15px 32px;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	width:1000px;
	height: 250px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 46px;
  color: #ffffff;
  text-align: center;
}

p1 {
	font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #000000;
  text-align: center;
}

button {
	border: 1px solid #000000;
	background-color:#84cec9;
	color:#ffffff;
	border-radius:30px ;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	display: block;
	position: center;
}

h3 {
  font-family: 'Showtime', serif;
  font-size: 200px;
  color: #ffffff;
  text-align: center;
