<link href='https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display:400,900,700' rel='stylesheet' type='text/css'>
head {
}
Body {
	text-align: center;
	background: url("29604-NS4YFU.jpg")no-repeat center center fixed;
  font-family: 'Playfair Display', serif;
	color: #ffffff;
	background-size: cover;

	}

h1 {
  font-family: 'Showtime', serif;
  font-size: 200px;
  color: #ffffff;
  text-align: center;
}

.question {
	text-align:center;
	border: 2px solid #000000;
	background-color:#ffffff;
	color:#000000;
	border-radius:30px ;
	border-width:medium;
	font-size: 72px;
	font-family: 'Playfair Display', serif;
	width:750px;
	height: 375px;
	padding: 15px 32px;
		margin: auto;
}

#optionA {
	background-color:#84cec9;
	color:#ffffff;
	border-radius:15px ;
	padding: 15px 32px;
	text-align: center;
	display: block;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	width:500px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
#optionB {
	background-color:#84cec9;
	color:#ffffff;
	border-radius:15px ;
	padding: 15px 32px;
	text-align: center;
	display: block;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	width:500px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
#optionC {
	background-color:#84cec9;
	color:#ffffff;
	border-radius:15px ;
	padding: 15px 32px;
	text-align: center;
	display: block;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	width:500px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
#optionD {
	background-color:#84cec9;
	color:#ffffff;
	border-radius:15px ;
	padding: 15px 32px;
	text-align: center;
	display: block;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	width:500px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

 {
	background-color:#84cec9;
	color:#ffffff;
	border-radius:30px ;
	padding: 15px 32px;
	text-align: center;
	display: block;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	width:500px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 46px;
  color: #ffffff;
  text-align: center;
}

p1 {
	font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #000000;
  text-align: center;
}

button {
	border: 1px solid #000000;
	background-color:#84cec9;
	color:#ffffff;
	border-radius:15px ;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	display: block;
	position: center;
}

h3 {
  font-family: 'Showtime', serif;
  font-size: 200px;
  color: #ffffff;
  text-align: center;
}
h4 {
	font-family: 'Showtime', serif;
  font-size: 50px;
	color: #ffffff;
  text-align: center;
}

.p1{

}

.b1 {

}
.scoreboard {
}

timer {
}

.green {
    color: green;
}
