/*.wrapper{
  background-color: grey;
  display: flex;
}*/

/*.header{
  background-color: black;
  justify-content: flex-start;
  align-items: flex-start;
}

h1{
  color: white;
}

p{
  color: white;
}*/

.container{
  color: white;
  text-align: center;
  width: 50%;
  height: 100%;
  border-radius: 15px 50px;
  background-color: grey;
  border: 3px solid black;
  padding: 20px;
  display: block;
  margin: 15% auto;
}
  /*background-color: white;
  justify-content: center;
  align-items: flex-center;*/
a *(
  color: white;
  background-color: blue;
  )

a: hover{
  color: red;
  background-color: yellow;
}

/*button{
  background-color: blue;
  display: inline;
  color: white;
}

.game_board{
  background-color: tan;
  align-items: flex-end;
}

._display{
  background-color: brown;
  display: flex
  flex-direction: column
  justify-content: flex-end;
}

.counter{
  background-color: red;
  flex direction: column;
  justify-content: center;
  align-itmes: center;
}*/
